* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: auto;
}

p, h2, button, h3, h4, h5 {
    margin: 0;
}

p {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

aside {
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 1.1em;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
