* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: auto;
}

p, h2, button, h3 {
    margin: 0;
}

p {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

aside {
    margin: 0;
    padding: 0;
}