@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "./utils/variables";
@import "./utils/mixins";
@import "./base";
@import "./layout/header";
@import "./layout/localisation";
@import "./layout/presentation";


.fonctionnement-homepage {
    margin-top: 50px;
    margin-bottom: 50px;
    &__title {
        margin: -5px 20px 20px 25px;
    }
    &__card {
      margin: 0 8%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 84%;
      height: 75px;
      border-radius: 25px;
      @extend .principal-shadow;
      margin-bottom: 25px;
      flex-wrap: nowrap;
      background-color: $background-light; 
        &__numero {
            background-color: $primary-color;
            border-radius: 100%;
            width: 25px;
            height: 25px;
            text-align: center;
            color: white;
            line-height: 25px;
            margin-left: -12px; }
        i {
            color: rgb(152, 152, 152);
            margin: 0 20px;
            font-size: 1.3rem;
        }
        h3 {
            margin: 0 0 0 20px;
        }
      }
    }

.restaurant {
    background-color: $background-light;
    &__title {
        padding: 40px 0 0 25px;
    }
    .restaurant-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 25px 25px 25px;
    }
}

.restaurant-card {
    width: 100%;
    height: 250px;
    border-radius: 25px;
    background-color: white;
    position: relative;
    @extend .principal-shadow;
    margin-bottom: 25px;
    &__img {
            width: 100%;
            height: 70%;
            object-fit: cover;
            border-radius: 25px 25px 0 0;
    }
    &__new {
        display: block;
        font-weight: 600;
        background-color: $tertiary-color;
        color: darken($tertiary-color, 35%);
        width: 90px;
        padding: 8px 0;
        text-align: center;
        border-radius: 4px;
        position: absolute;
        top: 1rem;
        right: 0.75rem;
    }
}

.restaurant-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 27%;
    .card-content {
        margin-left: 15px;
        h3 {
            padding-bottom: 3px;
        }
        p {
            padding-top: 3px;
        }
    }
}

.card-icon {
    font-size: 1.6em;
}

.principal-footer {
    background-color: rgb(55, 51, 51);
    padding: 25px 0 15px 20px;
    &__list {
        padding: 0;
        list-style: none;
        li {
            color: white;
            margin-bottom: 5px;
            i {
                &.fa-solid.fa-utensils {
                    font-size: 0.9em;
                    margin-right: 7px;
                }
                &.fa-solid.fa-handshake-angle {
                    font-size: 0.7em;
                    margin-right: 5px;
                    padding-bottom: 5px;
                }
            }
        }
    }
}
    
.logo-footer {
    font-family: 'Shrikhand', sans-serif;
    color: white;
}


