.fonctionnement-homepage {
    padding: 45px 30px;
}

.fonctionnement-homepage__list {
    padding: 0;
    display: flex;
    gap: 20px;  
    counter-reset: card-number; 
    @media (max-width: 992px) {
    flex-direction: column; 
    }
    &__card {
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        list-style: none;
        background-color: $background-light;
        padding: 25px 25px;
        flex-grow: 1;
        border-radius: 25px;
        @extend .principal-shadow;
        transform: scale(1);
        transition: scale 200ms;
        &:hover {
            transform: scale(1.02);
            background-color: lighten($primary-color, 36%);
            cursor: pointer;
            i {
            color: $primary-color;
            }
        }
        &::before {
            content: "" counter(card-number);
            counter-increment: card-number;
            background-color: $primary-color;
            font-weight: 400;
            border-radius: 100%;
            color: white;
            padding: 5px 9px;
            position: relative;
            left: -40px;
        }
        i {
            color: rgb(152, 152, 152);
            margin-right: 20px;
            margin-left: -20px;
            font-size: 1.3rem;
        }
    }
}