.principal-footer {
    background-color: rgb(55, 51, 51);
    padding: 25px 0 15px 20px;
    &__list {
        padding: 0;
        list-style: none;
        li {
            margin-bottom: 5px;
            &:hover {
                text-decoration: underline;
            }
            a {
                color: white;
            }
            i {
                &.fa-solid.fa-utensils {
                    font-size: 0.9em;
                    margin-right: 7px;
                    color: white;
                }
                &.fa-solid.fa-handshake-angle {
                    font-size: 0.7em;
                    margin-right: 5px;
                    padding-bottom: 5px;
                    color: white;
                }
            }
        }
    }
}
    
.logo-footer {
    font-family: 'Shrikhand', sans-serif;
    color: white;
}
