@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.principal-shadow, .menu-card, .restaurant-content__button, .restaurant-card, .fonctionnement-homepage__list__card, .site-presentation__button, .principal-header {
  box-shadow: 0 5px 7px -2px rgb(198, 198, 198);
  transition: box-shadow 300ms;
}
.principal-shadow:hover, .menu-card:hover, .restaurant-content__button:hover, .restaurant-card:hover, .fonctionnement-homepage__list__card:hover, .site-presentation__button:hover, .principal-header:hover {
  box-shadow: 0 5px 7px -2px rgb(180, 174, 174);
}

@keyframes check-turn {
  0% {
    transform: rotate(-0.75turn);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes menu-apparition {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loader-animation {
  0% {
    transform: scale(1);
    opacity: 0.95;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes loader-item {
  0% {
    rotate: 0turn;
  }
  100% {
    rotate: 1turn;
  }
}
@keyframes check-turn {
  0% {
    transform: rotate(-0.75turn);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes menu-apparition {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loader-animation {
  0% {
    transform: scale(1);
    opacity: 0.95;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes loader-item {
  0% {
    rotate: 0turn;
  }
  100% {
    rotate: 1turn;
  }
}
.loader-spinner {
  position: fixed;
  background-color: white;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.95;
  animation: loader-animation 250ms ease-in;
  animation-fill-mode: forwards;
  animation-delay: 3000ms;
}
.loader-spinner i {
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 6em;
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: loader-item 1000ms infinite linear;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  width: auto;
}

p, h2, button, h3, h4, h5 {
  margin: 0;
}

p {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

aside {
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 1.1em;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.principal-header {
  position: relative;
}
.principal-header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 2.2rem;
  text-align: center;
  margin: 18px 18px 0px 18px;
  padding-bottom: 12px;
}

.localisation-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
  padding: 15px 0;
}
.localisation-header__icon {
  color: rgb(47, 45, 45);
  font-size: 1.2rem;
  margin-right: 10px;
}
.localisation-header__venue {
  color: rgb(47, 45, 45);
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 10px;
}

.site-presentation {
  text-align: center;
  background-color: rgb(251, 248, 248);
  padding: 30px 30px 55px 30px;
}
.site-presentation__title {
  margin-bottom: 13px;
  font-weight: 800;
}
.site-presentation__description {
  margin-bottom: 20px;
}
.site-presentation__button {
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  color: white;
  padding: 16px 25px;
  border: 0px solid;
  border-radius: 30px;
  font-weight: 600;
  transform: scale(1);
  transition: all 200ms;
}
.site-presentation__button:hover {
  transform: scale(1.02);
  cursor: pointer;
  opacity: 0.9;
}

.fonctionnement-homepage {
  padding: 45px 30px;
}

.fonctionnement-homepage__list {
  padding: 0;
  display: flex;
  gap: 20px;
  counter-reset: card-number;
}
@media (max-width: 992px) {
  .fonctionnement-homepage__list {
    flex-direction: column;
  }
}
.fonctionnement-homepage__list__card {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  list-style: none;
  background-color: rgb(251, 248, 248);
  padding: 25px 25px;
  flex-grow: 1;
  border-radius: 25px;
  transform: scale(1);
  transition: all 200ms;
}
.fonctionnement-homepage__list__card:hover {
  transform: scale(1.02);
  background-color: #f4eefc;
  cursor: pointer;
}
.fonctionnement-homepage__list__card:hover i {
  color: #9356DC;
}
.fonctionnement-homepage__list__card::before {
  content: "" counter(card-number);
  counter-increment: card-number;
  background-color: #9356DC;
  font-weight: 400;
  border-radius: 100%;
  color: white;
  padding: 5px 9px;
  position: relative;
  left: -40px;
}
.fonctionnement-homepage__list__card i {
  color: rgb(152, 152, 152);
  margin-right: 20px;
  margin-left: -20px;
  font-size: 1.3rem;
}

.restaurant {
  background-color: rgb(251, 248, 248);
}
.restaurant__title {
  padding: 40px 0 0 25px;
}
.restaurant .restaurant-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 25px 25px 25px;
}
@media (min-width: 992px) {
  .restaurant .restaurant-list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 25px;
    margin-right: 25px;
  }
}

.restaurant-card {
  width: 100%;
  height: 250px;
  border-radius: 25px;
  background-color: white;
  position: relative;
  margin-bottom: 25px;
  transform: scale(1);
  transition: all 200ms;
}
.restaurant-card:hover {
  transform: scale(1.02);
  background-color: #f4eefc;
}
@media (min-width: 992px) {
  .restaurant-card {
    margin: 0px;
  }
}
.restaurant-card__img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.restaurant-card__new {
  display: block;
  font-weight: 600;
  background-color: #99E2D0;
  color: #2c9c81;
  width: 90px;
  padding: 8px 0;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

.restaurant-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 27%;
  position: relative;
}
.restaurant-card-footer .card-icon__empty.fa-regular.fa-heart {
  font-size: 1.6em;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.restaurant-card-footer .card-icon__full.fa-solid.fa-heart {
  font-size: 1.6em;
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0;
  transition: all 300ms ease-in;
}
.restaurant-card-footer .card-icon__full.fa-solid.fa-heart:hover {
  opacity: 1;
  cursor: pointer;
}
.restaurant-card-footer .card-icon__full.fa-solid.fa-heart:hover .card-icon__empty.fa-regular.fa-heart {
  opacity: 0;
}
.restaurant-card-footer .card-content {
  margin-left: 15px;
}
.restaurant-card-footer .card-content h3 {
  padding-bottom: 3px;
}
.restaurant-card-footer .card-content p {
  padding-top: 3px;
}

.principal-footer {
  background-color: rgb(55, 51, 51);
  padding: 25px 0 15px 20px;
}
.principal-footer__list {
  padding: 0;
  list-style: none;
}
.principal-footer__list li {
  color: white;
  margin-bottom: 5px;
}
.principal-footer__list li:hover {
  text-decoration: underline;
}
.principal-footer__list li i.fa-solid.fa-utensils {
  font-size: 0.9em;
  margin-right: 7px;
}
.principal-footer__list li i.fa-solid.fa-handshake-angle {
  font-size: 0.7em;
  margin-right: 5px;
  padding-bottom: 5px;
}

.logo-footer {
  font-family: "Shrikhand", sans-serif;
  color: white;
}

.pages .principal-header::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-size: 1.75em;
  font-weight: 900;
  content: "\f060";
  color: rgb(47, 45, 45);
  position: absolute;
  top: 2px;
  left: 15px;
  cursor: pointer;
}

.header-pages__image {
  display: block;
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.restaurant-header-container {
  border-radius: 30px 30px 0 0;
  margin-top: -25px;
  position: relative;
  background-color: rgb(251, 248, 248);
  padding: 30px 20px;
}

.restaurant-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.restaurant-header__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.5em;
  margin: 0;
}
.restaurant-header__heart .card-icon__empty.fa-regular.fa-heart {
  font-size: 1.6em;
  position: absolute;
  top: 0rem;
  right: 0rem;
}
.restaurant-header__heart .card-icon__full.fa-solid.fa-heart {
  font-size: 1.6em;
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0rem;
  right: 0rem;
  opacity: 0;
  transition: all 300ms ease-in;
}
.restaurant-header__heart .card-icon__full.fa-solid.fa-heart:hover {
  opacity: 1;
  cursor: pointer;
}
.restaurant-header__heart .card-icon__full.fa-solid.fa-heart:hover .card-icon__empty.fa-regular.fa-heart {
  opacity: 0;
}

.restaurant-content {
  padding: 0 20px 20px 15px;
  background-color: rgb(251, 248, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restaurant-content__button {
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  color: white;
  padding: 16px 25px;
  border: 0px solid;
  border-radius: 30px;
  font-weight: 600;
  transform: scale(1);
  transition: all 200ms;
  align-self: center;
  width: 170px;
  margin: 40px 0;
}
.restaurant-content__button:hover {
  transform: scale(1.02);
  cursor: pointer;
  opacity: 0.9;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 1fr;
  gap: 10px;
}
@media (min-width: 992px) {
  .menu {
    grid-template-columns: repeat(3, 1fr);
  }
}
.menu h4 {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 400;
  padding-left: 13px;
  margin-bottom: 14px;
  position: relative;
}
@media (min-width: 992px) {
  .menu h4 {
    margin-bottom: 20px;
  }
}
.menu h4::after {
  content: "";
  height: 3.5px;
  width: 55px;
  background-color: #99E2D0;
  position: absolute;
  top: 28px;
  left: 12px;
}

.menu__content {
  overflow: hidden;
}

.menu-card {
  background-color: white;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  animation: menu-apparition 1000ms;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
}
.menu-card:nth-child(1) {
  animation-delay: 100ms;
}
.menu-card:nth-child(2) {
  animation-delay: 200ms;
}
.menu-card:nth-child(3) {
  animation-delay: 300ms;
}
.menu-card:nth-child(4) {
  animation-delay: 400ms;
}
.menu-card:hover {
  cursor: pointer;
}
.menu-card:hover .menu-card__animation {
  margin-right: 0;
}
.menu-card:hover .menu-card__animation i {
  animation: check-turn 400ms ease-in;
}
.menu-card__description {
  overflow: hidden;
  padding: 15px;
}
.menu-card__price {
  margin-left: auto;
  font-weight: 700;
  padding: 15px;
  align-self: flex-end;
}
.menu-card .card-subtitle {
  font-size: 0.9em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-card__animation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  margin-right: -70px;
  width: 70px;
  transition: margin-right 400ms;
}
.menu-card__animation i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.15em;
  color: #99E2D0;
  background-color: white;
  border-radius: 50px;
  width: 25px;
  height: 25px;
}

/*# sourceMappingURL=style.css.map */
