@import "../components/heart-pages";

.header-pages {
    &__image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    }
}

.page-content {
    background-color: $background-light;
}

.page-content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &__title {
        font-family: 'Shrikhand', sans-serif;
        font-size: 1.5em;
        margin: 0;
    }
    &__heart {
        @include heart-page;
    }
}