@keyframes check-turn {
    0% {
        transform: rotate(-0.75turn);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes menu-apparition {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}